@import "tailwindcss";

:root {
    --bg: #17181a;
    --foreground: #ffffff;
    --accent: #649ab6;
    --secondary: #2a2d30;
    --additional: #888;
    --code: #1e1e2e;
}

:section {
    color: var(--foreground);
    background-color: var(--accent);
}

body {
    background-color: var(--bg);
    color: var(--foreground);
    caret-color: var(--accent);
}

@theme {
    --color-bg: var(--bg);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-secondary: var(--secondary);
    --color-additional: var(--additional);
}

.code {
    position: relative;
    background-color: var(--code);
    overflow: hidden;
}

.code::after {
    content: "dockerfile";
    position: absolute;
    top: 6px;
    right: 12px;
    color: var(--additional);
    font-size: 14px;
}

.code::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent 0%, var(--code) 100%);
    width: 100%;
    height: 48px;

    pointer-events: none;
    z-index: 1;
}
